<<<<<<< HEAD
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
}


@media(max-width:1000px){
    body{
        flex-direction:row;
    }
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.btn button {
    margin-left: 10px;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.btn .login {
    background: #6b1818;
    color: #dac0c0;
    border-radius: 5px;
}

.btn .signup {
    background: #007BFF;
    color: #571919;
    border-radius: 5px;
}

.hero {
    text-align: center;
    padding: 100px 20px;
    background: #f4f4f4;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
    color: #666;
}


=======
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
}
header {
    background-color:rgb(146, 77, 77);
    color: white;
    text-align: center;
    padding: 20px; 
}
main {
    padding: 80px;
    text-align: center;
}
h2{
    color:red;
    font-family:'Times New Roman', Times, serif;
}
button {
    color: black;
    padding: 10px 20px;
    margin: 50px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    border-color: blue;
}
button:hover {
    background-color: skyblue;
}
footer {
    background-color: rgb(120, 74, 74);
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}


@media (max-width: 768px) {
    form {
        flex-direction: column;
        gap: 15px;
    }
}
>>>>>>> 112cbc2983b2a075ec5ae7214d82e1ab398e7b75
